:root {
  --background: #f7f8f8;
  --forground: #fff;
  --btn-color: #55a3f0;
  --text: #000000;
  --backdrop: rgba(51, 51, 51, 0.49);
  --primary: #3a8bed;
  --greeen: #4ade80;
  --red: #f43f5e;
  --input: #f2f2f2;
  --border: #e4e4e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121417;
    --forground: #1c1f24;
    --text: #fff;
    --btn-color: #3d7dc4;
    --backdrop: rgba(0, 0, 0, 0.6);
    --primary: #4a9eff;
    --greeen: #4ade80;
    --red: #f87171;
    --input: #22262b;
    --border: #333940;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Vazirmatn";
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
